.App {
  text-align: center;
}

.divPerson {  
	border: 1px solid #fff ;
	border-color:  #17a2b8 transparent transparent transparent;
}

.pagination {
	position:relative;
    left:50%;
	
}

.page-item.active .page-link {
	
	background-color: #4FC3A1 !important;
	border-color:#4FC3A1 !important;
}

.btn-outline-secondary:hover {
  background: #4FC3A1 !important;
}


.button-control:focus {
  transition: outline 1s ease-in-out;
  outline: 2px  var(--focus-color,blue);
  box-shadow: 10px 0px 10px var(--focus-shadow-color,rgb(146, 194, 246));
  border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}

.columnLike {
  display: flex !important;
  flex-direction: column !important;
}

.blockNewPerson{
	display: flex !important;
	flex-direction: column !important;
}

.btn_correct{
	width: 25%;
}

.btn_temp{
	width:50px;
	height:20px;
}

.button-control{
	-webkit-tap-highlight-color: transparent;
--blue: #007bff;
--indigo: #6610f2;
--purple: #6f42c1;
--pink: #e83e8c;
--red: #dc3545;
--orange: #fd7e14;
--yellow: #ffc107;
--green: #28a745;
--teal: #20c997;
--cyan: #17a2b8;
--white: #fff;
--gray: #6c757d;
--gray-dark: #343a40;
--primary: #007bff;
--secondary: #6c757d;
--success: #28a745;
--info: #17a2b8;
--warning: #ffc107;
--danger: #dc3545;
--light: #f8f9fa;
--dark: #343a40;
--breakpoint-xs: 0;
--breakpoint-sm: 576px;
--breakpoint-md: 768px;
--breakpoint-lg: 992px;
--breakpoint-xl: 1200px;
--font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
--font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
-webkit-font-smoothing: antialiased;
box-sizing: border-box;
margin: 0;
font-family: inherit;
overflow: visible;
display: block;
width: 25%;
height: calc(1.5em + .75rem + 2px);
padding: .375rem .75rem;
font-size: 1rem;
font-weight: 400;
line-height: 1.5;
color: #495057;
background-color: #fff;
background-clip: padding-box;
border: 1px solid #ced4da;
border-radius: .25rem;
transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}






